


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}
.logo a{
  color: white;
}
.logo:hover{
  background-color: #f4511e;
}
.posts a{
 color: rgb(97, 94, 94);
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50%;
  background-color: #f79c80;
  position: fixed;
  width: 100%;
  top: 0;

}
.logo{
  color: white!important;
  border-radius: 20px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 50px;
  height: 50px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 30px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

button span::before {
  content: 'Create Post';
  position: absolute;
  opacity: 0;
  top: 0px;
  right: 0px;
  
}

button:hover span {
  padding-right: 100px;
}

button:hover span::before {
  opacity: 1;
  right: 1px;
}

button:hover{
  width: 200px;
  height: 50px;
}

button .delete {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

button .delete::before {
  content: 'Delete Post';
  position: absolute;
  opacity: 0;
  top: 0px;
  right: 0px;
}


button:hover span {
  padding-right: 100px;
}

button:hover span::before {
  opacity: 1;
  right: 1px;
}

button:hover{
  width: 200px;
  height: 50px;
}
.blogPost{
  margin-top: 120px;
  padding: 0 50px;
}

.title{
  text-align: center;
  padding: 20px 0;
}
.body{
  padding: 0 20px;
  font-weight: 100;
}
.author{
  float: right;
  clear: both;
  padding: 20px 50px;
  margin-left: 100px;
}
.footer{
  text-align: center;
  background-color: #f79c80;
  margin-top: 5px;
  padding: 20px 0 ;
}

/* for create page */

form{
  margin-top: 100px;
}
.createBody{
     padding: 50px 0;
     text-align: center;
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin-bottom: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid white;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=submit] {
  width: 5%;
  background-color:#f4511e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0px 3px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

input[type=submit]:hover {
  background-color: #c52e00;
}
.textArea{
  /* padding-bottom: 100px 100px; */
  height: 150px;
  transition: 0.5s;
}
.textArea:focus{
  height: 200px;
}
.posts{
  padding: 50px ;
  width: 90%;
  margin: auto;
  margin-top: 100px;
}
.post{
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  margin: auto;
  height: 12rem;
  transition: 0.3s;
  margin-bottom: 20px;
}
 .post:hover{
  width: 70%;
  height: 14rem;
  box-shadow: 1px 4px 8px 5px rgba(0, 0, 0, 0.2), 0 1px 20px 5px rgba(0, 0, 0, 0.19);
 }
 .readBtn{
  opacity: 0;
  width: 20%;
  margin: 10px 5px;
  /* transition: 0.1s !important; */
 }
 .post:hover .readBtn{
  opacity: 1;
  transition: 2s;
 }
 .readBtn p {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.readBtn p::before {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0px;
  right: 0px;
  
}

.readBtn:hover p {
  padding-right: 25px;
}

.readBtn:hover p::before {
  opacity: 1;
  right: 1px;
}
.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -35px;
  color: black;
  
}
.head button{
  opacity: 0;
  transition: 0.2s;
}
.post:hover button{
  opacity: 1;
  transition: 1s;
}